<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
            width: 40%;
            float: left;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body row justify-content-center>
    <!--------------------Nav bar---------------------->
    <div w3-include-html="/includes/nav.html"></div>

    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <header class="card-header">
                        <h1 class="card-title" id="head">Add Product Item</h1>
                    </header>
                </div>
            </div>
        </div>

        <div class="row">
            <!------Side Bar------>
            <div class="col-md-2">
                <div w3-include-html="/includes/sidebar.html"></div>
            </div>

            
            <div class="col-md-6">

                <form action="/addItem" method="POST" name="addItem" id="addItem" enctype="multipart/form-data">

                    <fieldset class="form-group border p-2">
                        <legend class="w-auto border-primary">Product Info</legend>
                        <div class="form-group">

                            <div class="form-group">
                                <label class="form-control-label" for="C">Item Name: </label>

                                <input type="text" name="itemName" id="itemName">
                                <small id="nameError" class="innerH"></small>

                            </div><!-- form-group -->


                            <div class="form-group">
                                <label class="form-control-label" for="make">Make: </label>

                                <input type="text" name="itemMake" id="itemMake">
                                <small id="makeError" class="innerH"></small>


                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="entryDate">Date of Entry: </label>
                                <input name="entryDate" type="date" id="entryDate">
                                <small id="dateError" class="innerH"></small>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="category">Category: </label>

                                <select name="category" id="category">
                                    <option value="0">Select Category</option>
                                    <option value="1">Furniture</option>
                                    <option value="2">Fitness Kits</option>
                                    <option value="3">Machinery</option>
                                    <option value="4">TV Sets</option>
                                    <option value="5">Home Theater</option>
                                </select>
                                <small id="catError" class="innerH"></small>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="serial-number">Serial Number:
                                </label>
                                <input type="text" name="serialNumber" id="serialNumber">
                                <small id="serialError" class="innerH"></small>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="price">Price:
                                </label>
                                <input type="text" name="price" id="price">
                                <small id="priceError" class="innerH"></small>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="itemColor">Item Color: </label>

                                <input type="text" name="itemColor" id="itemColor">
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="itemDesc">Item Description:
                                </label>
                                <textarea name="itemDesc" id="itemDesc" cols="23" rows="2"
                                    placeholder="Item Description"></textarea>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="numStock">Number in Stock:
                                </label>
                                <input type="text" name="numStock" id="numStock">
                                <small id="stockError" class="innerH"></small>
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label" for="itemPhoto">Item Photo:
                                </label>
                                <input type="file" id="itemPhoto" name="itemPhoto">
                            </div><!-- form-group -->

                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-block" name="submit" type="submit"
                                onclick="return validateAddItem()">Submit</button>
                        </div>

                    </fieldset><!-- fieldset-->

                </form>

            </div>
        </div>
    </div>

    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/validateAddItem.js"></script>
    <script src="/js/navnfooter.js"></script>

</body>

</html>