<!DOCTYPE html>
<html>

<head>
    <title>Covid Store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    
    <!-- ---------Nav bar------- -->
    <div w3-include-html="/includes/nav.html"></div>


    <!-- Featured Products -->
    <section class="feature-categories">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="images/homeTheter1.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="images/tv1.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <img src="images/watch1.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- On Sale Products -->
    <section class="on-sale">
        <div class="container">
            <div class="title-box">
                <h2>On Sale</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/iphone.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Iphone Keyboard</h3>
                        <h5>UGX 700,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/mills.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Folding Treadmill</h3>
                        <h5>UGX 1,200,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/shoe.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>White Sneakers</h3>
                        <h5>UGX 30,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/sofa.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Black sofa</h3>
                        <h5>UGX 250,000</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------- New Products ------------------>
    <section class="new-products">
        <div class="container">
            <div class="title-box">
                <h2>New Arrivals</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/iphone.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Iphone Keyboard</h3>
                        <h5>UGX 700,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/mills.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Folding Treadmill</h3>
                        <h5>UGX 1,200,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/shoe.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>White Sneakers</h3>
                        <h5>UGX 30,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/sofa.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Black sofa</h3>
                        <h5>UGX 250,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/iphone.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Iphone Keyboard</h3>
                        <h5>UGX 700,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/mills.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Folding Treadmill</h3>
                        <h5>UGX 1,200,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/shoe.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>White Sneakers</h3>
                        <h5>UGX 30,000</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="images/sofa.jpg" alt="">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Black sofa</h3>
                        <h5>UGX 250,000</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------- Website features ------------------>
    <section class="website-features">
        <div class="container">
            <div class="row">
                <div class="col-md-3 feature-box">
                    <img src="images/guaratee.png" alt="">
                    <div class="feature-text">
                        <p><b>100% Original items</b> are available</p>
                    </div>
                </div>
                <div class="col-md-3 feature-box">
                    <img src="/cashback.png" alt="">
                    <div class="feature-text">
                        <p><b>Return within 30 days</b> of recieving our order</p>
                    </div>
                </div>
                <div class="col-md-3 feature-box">
                    <img src="images/shipping.png" alt="">
                    <div class="feature-text">
                        <p><b>Get free delivery for every</b> order on more than price</p>
                    </div>
                </div>
                <div class="col-md-3 feature-box">
                    <img src="/payment.png" alt="">
                    <div class="feature-text">
                        <p><b>Pay online through multiple</b> options(card payment/Mobile money)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>


    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/jquery-3.5.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="/js/scrolltotop.js"></script>
    <script src="/js/navnfooter.js"></script>
</body>

</html>