doctype html
html
	head
		title Covid Store
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		button#myBtn(onclick="topFunction()" title="Go to top") Top
		// ---------Nav bar-------
		div(w3-include-html="/includes/nav.html")
		// Featured Products
		section(class="feature-categories")
			div(class="container")
				div(class="row")
					div(class="col-md-4")
						img(src="images/homeTheter1.jpg" alt="")
					div(class="col-md-4")
						img(src="images/tv1.jpg" alt="")
					div(class="col-md-4")
						img(src="images/watch1.jpg" alt="")
		// On Sale Products
		section(class="on-sale")
			div(class="container")
				div(class="title-box")
					h2 On Sale
				div(class="row")
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/iphone.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 Iphone Keyboard
							h5 UGX 700,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/mills.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							h3 Folding Treadmill
							h5 UGX 1,200,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/shoe.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 White Sneakers
							h5 UGX 30,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/sofa.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							i(class="fa fa-star-o")
							h3 Black sofa
							h5 UGX 250,000
		// --------------- New Products ----------------
		section(class="new-products")
			div(class="container")
				div(class="title-box")
					h2 New Arrivals
				div(class="row")
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/iphone.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 Iphone Keyboard
							h5 UGX 700,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/mills.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							h3 Folding Treadmill
							h5 UGX 1,200,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/shoe.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 White Sneakers
							h5 UGX 30,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/sofa.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							i(class="fa fa-star-o")
							h3 Black sofa
							h5 UGX 250,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/iphone.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 Iphone Keyboard
							h5 UGX 700,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/mills.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							h3 Folding Treadmill
							h5 UGX 1,200,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/shoe.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 White Sneakers
							h5 UGX 30,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/sofa.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							i(class="fa fa-star-o")
							h3 Black sofa
							h5 UGX 250,000
		// --------------- Website features ----------------
section.footer
	.container.tex-center
		.row
			.col-md-3
				h1 Useful Links
				p Privacy Policy
				p Terms of use
				p Return Policy
				p Discount Coupons
			.col-md-3
				h1 Company
				p About US
				p Contact Us
				p Career
				p Affiliate
			.col-md-3
				h1 Follow Us On
				p
					i.fa.fa-facebook-official
					|  Facebook
				p
					i.fa.fa-youtube-play
					|  Youtube
				p
					i.fa.fa-linkedin
					|  Linkedin
				p
					i.fa.fa-twitter
					|  Twitter
			.col-md-3.footer-image
				h1 Download App
				img(src="images/app.png" alt="")
		hr
		p.copyright
			| Made by 
			i.fa.fa-heart-o
			| Joshua Makula

		// --------------- Footer ----------------

		script(src="/js/scrolltotop.js")
		script(src="/js/navnfooter.js")
