doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Covid Store
		
		link(rel="stylesheet" type="text/css" href="/css/style.css")
		link(rel="stylesheet" type="text/css" href="/css/nav.css")
		link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		button#myBtn(onclick="topFunction()" title="Go to top") Top
		//- ---------Nav bar-------
		nav.navbar.navbar-expand-lg.navbar-light(style="background-image: url('../images/headbg.png');background-size: cover;")
			a.navbar-brand(href="/")
				img(src="../images/logo1.png" alt="" height="50px" width="150px" style="padding: 0;")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href="#")  
					li.nav-item
						a.nav-link(href="")
					li.nav-item.dropdown
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
					button.btn.btn-outline-success.my-2.my-sm-0.bg-success.text-white(type="submit") Search


		.container(style="padding-top:30px;")
			.row
				.col-md
					#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
						.carousel-inner
							.carousel-item.active
								img.d-block.w-100(src="../images/slider.png" alt="...")
							

				.col-md
					#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
						.carousel-inner
							.carousel-item.active
								img.d-block.w-100(src="../images/slider1.png" alt="...")





		//-section(class="new-products" style="padding:50px;")
		.container.new-products
			div(class="title-box" style="padding-bottom:0")
				h2 LTPP	
		each productlist in productlists
			-var count = 0;
			div(class="row")
			if count <= 2
				div(class="col-md-3" style="float:left; padding-top:30px;")
				
					div(class="product-top")
						img(src=productlist.itemPhoto, alt="", style="width:250px")
						div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart") 
						
					div(class="product-bottom text-center")
						i(class="fa fa-star")
						i(class="fa fa-star")
						i(class="fa fa-star")
						i(class="fa fa-star")
						i(class="fa fa-star-half-o")
						h3 #{productlist.itemName}
						h5 #{productlist.price}.00 ugx
						-count++
					

		
		.container(style="padding-top:70px;")
			.row(style="padding-top:70px;")
				.col-md
					#carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
						.carousel-inner
							.carousel-item.active
								img.d-block.w-100(src="../images/ad1.png" alt="...")

		



		section(class="on-sale")
			div(class="container")
				div(class="title-box")
					//- h2 On Sale
				//- div(class="row")
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/iphone.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 Iphone Keyboard
							h5 UGX 700,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/mills.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							h3 Folding Treadmill
							h5 UGX 1,200,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/shoe.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							h3 White Sneakers
							h5 UGX 30,000
					div(class="col-md-3")
						div(class="product-top")
							img(src="images/sofa.jpg" alt="")
							div(class="overlay-right")
								button(type="button" class="btn btn-secondary" title="Quick Shop")
									i(class="fa fa-eye")
								button(type="button" class="btn btn-secondary" title="Add to Wishlist")
									i(class="fa fa-heart-o")
								button(type="button" class="btn btn-secondary" title="Add to Cart")
									i(class="fa fa-shopping-cart")
						div(class="product-bottom text-center")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star")
							i(class="fa fa-star-half-o")
							i(class="fa fa-star-o")
							h3 Black sofa
							h5 UGX 250,000
		// --------------- New Products ----------------
		
    		
			
		
			

section.footer
	.container.tex-center
		.row
			.col-md-3
				h1 Useful Links
				p Privacy Policy
				p Terms of use
				p Return Policy
				p Discount Coupons
			.col-md-3
				h1 Company
				p About US
				p Contact Us
				p Career
				p Affiliate
			.col-md-3
				h1 Follow Us On
				p
					i.fa.fa-facebook-official
					|  Facebook
				p
					i.fa.fa-youtube-play
					|  Youtube
				p
					i.fa.fa-linkedin
					|  Linkedin
				p
					i.fa.fa-twitter
					|  Twitter
			.col-md-3.footer-image
				h1 Download App
				img(src="images/app.png" alt="")
		hr
		p.copyright
			| Made by  
			i.fa.fa-heart-o 
			| Joshua Makula &copy; 2020

		// --------------- Footer ----------------

		script(src="/js/scrolltotop.js")
		script(src="/js/navnfooter.js")
		script(src="/bootstrap/js/bootstrap.js")
		script(src="/bootstrap/js/jquery-3.5.1.slim.min.js")
		script(src="/bootstrap/js/popper.min.js")

