<!DOCTYPE html>
<html>

<head>
    <title>Login - Covid Stores</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #login-head {
            text-align: center;
            color: #081930;
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>

</head>

<body row justify-content-center>

    <!--------------------Nav bar---------------------->
    <nav class="navbar navbar-expand-lg navbar-light"
        style="background-image: url('../images/headbg.png');background-size: cover;">
        <a class="navbar-brand" href="/"> <img src="../images/logo1.png" alt="" height="50px" width="150px"
                style="padding: 0;"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item dropdown">

                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 bg-success text-white" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <form action="/login" method="POST">
                        <header class="card-header">
                            <h1 class="card-title" id="login-head" name="loginForm">Covid Stores</h1>
                        </header>

                        <fieldset class="form-group border p-2">
                            <legend class="w-auto">Login</legend>


                            <div class="form-group">
                                <label class="col-form-label text-md-right" for="username">User Name</label>
                                <div class="">
                                    <input class="form-control" type="text" name="username" id="username" required>
                                    <small class="innerH" id="usernameerr"></small>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-form-label text-md-right" for="password">Password</label>
                                <div class="">
                                    <input class="form-control" type="password" name="password" id="password" required>
                                    <small class="innerH" id="passworderr"></small>
                                </div>

                            </div>
                            <div class="form-group">

                                <button style="background-color: #081930;" class=" btn btn-block text-white"
                                    type="submit"
                                    onclick="return loginValidate()">Login</button>

                            </div>




                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/loginValidate.js"></script>
    <script src="/js/navnfooter.js"></script>


</body>

</html>