<!DOCTYPE html>
<html>

<head>
    <title>Client Subscription</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #login-head {
            text-align: center;
            color: orange;
        }

        legend {
            font-weight: bold;
        }
    </style>

</head>

<body row justify-content-center>

    <!--------------------Nav bar---------------------->
    <div w3-include-html="/includes/nav.html"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <form action="manager" method="POST">
                        <header class="card-header">
                            <h1 class="card-title" id="login-head">Covid Stores</h1>
                        </header>

                        <fieldset class="form-group border p-2">
                            <legend class="w-auto">Login</legend>


                            <div class="form-group">
                                <label class="col-form-label text-md-right" for="userName">User Name</label>
                                <div class="">
                                    <input class="form-control" type="text" name="userName" id="userName"
                                        placeholder="User Name">
                                </div>

                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="salesAgent" name="agentorstore" class="custom-control-input">
                                <label class="custom-control-label" for="salesAgent">Sales Agent</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="storeManager" name="agentorstore" class="custom-control-input">
                                <label class="custom-control-label" for="storeManager">Store Manager</label>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label text-md-right" for="userPass">Password</label>
                                <div class="">
                                    <input class="form-control" type="password" name="userPass" id="userPass"
                                        placeholder="Password">
                                </div>

                            </div>
                            <div class="form-group">

                                <button class=" btn btn-warning btn-block" type="submit">Login</button>

                            </div>




                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>


</body>

</html>