<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <!--------------------Nav bar---------------------->
    <div w3-include-html="/includes/nav.html"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div w3-include-html="/includes/sidebar.html"></div>

            </div>
        </div>
    </div>
    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>

</body>

</html>