<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <!--------------------Nav bar---------------------->
    <div w3-include-html="/includes/nav.html"></div>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <header class="card-header">
                        <h1 class="card-title" id="head">Store manager's dash board</h1>
                    </header>
                    <div class="row">
                        
                        <div style="margin-right: 2px;">
                            <form action="/details">
                                <button class="btn btn-secondary">purchase Details</button>
                            </form>
                        </div>

                        <div style="margin-right: 2px;">
                            <form action="/register">
                                <button class="btn btn-secondary">Register Sales Agent</button>
                            </form>
                        </div>

                        <div style="margin-right: 2px;">
                            <form action="/addItem">
                                <button class="btn btn-secondary">Add Product</button>
                            </form>
                        </div>

                        <div style="margin-right: 2px;">
                            <form action="/register/agents">
                                <button class="btn btn-secondary">Agents List</button>
                            </form>
                        </div>

                        <div style="margin-right: 2px;">
                            <form action="/addItem/productlists">
                                <button class="btn btn-secondary">Product List</button>
                            </form>
                        </div>
                        <div class="">
                            <form action="/details/customerlists">
                                <button class="btn btn-secondary btn-block">Customers List</button>
                            </form>
                        </div>
                        <div class="">
                            <form action="/logout">
                                <button class="btn btn-secondary btn-block">Log Out</button>
                            </form>
                        </div>

                    </div>


                </div>
            </div>

            
        </div>
    </div>
    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>

</body>

</html>