<!DOCTYPE html>
<html>

<head>
    <title>Single Product</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-color: #f1f3f4;
        font-family: sans-serif;
    }
</style>
</head>

<body>

    <div class="top-nav-bar">
        <div class="search-box">
            <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
            <input type="text" class="form-control">
            <span class="input-group-text"></span><i class="fa fa-search"></i></span>
        </div>

        <div class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa fa-shopping-basket"></i>Cart</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </div>

    <!---------------- Single Product----------------->
    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-slider" class="carousel slide carousel-fade">
                        <div class="carousel-inner active">
                            <img src="images/tv1.jpg" alt="" class="d-block w-100">
                        </div>
                        <div class="carousel-inner">
                            <img src="images/tv2.jpg" alt="" class="d-block w-100">
                        </div>
                        <div class="carousel-inner">
                            <img src="images/tv3.jpg" alt="" class="d-block w-100">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>
</body>

</html>