<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body row justify-content-center>
    <div class="top-nav-bar">
        <div class="search-box">
            <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
            <input type="text" class="search-form-control">
            <span class="input-group-text"></span><i class="fa fa-search"></i></span>
        </div>

        <div class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa fa-shopping-basket"></i>Cart</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
    </div>
    <!--------------------Nav bar---------------------->

    <div class="container">
        <div class="row">
            <div class="card-body">
                <div class="col-md" style="text-align: center;">
                    <a href="/details">
                        <button class="btn btn-secondary">purchase Details</button>
                    </a>

                    <a href="/register">
                        <button class="btn btn-secondary">Register Sales Agent</button>
                    </a>

                    <a href="/addItem">
                        <button class="btn btn-secondary">Add Product</button>
                    </a>                    
                </div>                
            </div><!------Side Bar------>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="card-body">
                    <form action="" method="POST" name="purDetails">
                        <header class="card-header">
                            <h1 class="card-title" id="head">Purchase Details</h1>
                        </header>
                        <fieldset class="form-group border p-2">
                            <legend class="w-auto border-primary">Customer Info</legend>
                            <div class="form-group">

                                <div class="form-group">
                                    <label class="form-control-label" for="cName">Customer Name: </label>
                                    <input class="form-control" type="text" name="cName" id="cName"
                                        placeholder="Customer name">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="clocation">Customer Location: </label>
                                    <input class="form-control" type="text" name="clocation" id="clocation"
                                        placeholder="Customer Location">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="phone">Phone Number: </label>
                                    <input class="form-control" type="text" name="phone" id="phone"
                                        placeholder="0712010101">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="email">Email: </label>
                                    <input class="form-control" type="text" name="email" id="email"
                                        placeholder="customer@xuz.com">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="nationalID">National ID: </label>
                                    <input class="form-control" type="text" name="nationalID" id="nationalID"
                                        placeholder="National ID Number">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="itemName">Item Name : </label>
                                    <input class="form-control" type="text" name="itemName" id="itemName"
                                        placeholder="Item Name">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="initialPay">Initial Pay: </label>
                                    <input class="form-control" type="text" name="initialPay" id="initialPay"
                                        placeholder="000.00">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="serialNumber">Item Serial Number: </label>
                                    <input class="form-control" type="text" name="serialNumber" id="serialNumber"
                                        placeholder="Serial Number">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="payDate">Date of Pay: </label>
                                    <input class="form-control" type="date" name="payDate" id="payDate"
                                        placeholder="Date of Pay">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="refNumber">Referee Number:
                                    </label>
                                    <input class="form-control" type="text" name="refNumber" id="refNumber"
                                        placeholder="Referee Number">
                                </div><!-- form-group -->

                                <div class="form-group">
                                    <label class="form-control-label" for="purchaseReceipt">Purchase Receipt:
                                    </label>
                                    <input class="form-control" type="text" name="purchaseReceipt" id="purchaseReceipt"
                                        placeholder="Purchase Receipt">
                                </div><!-- form-group -->

                            </div>
                            <div class="form-group">
                                <button class="btn btn-warning btn-block" name="submit" type="submit"
                                    onclick="purchaseDetails()">Submit</button>
                            </div>

                        </fieldset>
                        <!--------fieldset------->

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!----------------- Footer ------------------>
    <!-- <div w3-include-html="/include/footer.html"></div> -->
    <section class="footer">
        <div class="container tex-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About US</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us On</h1>
                    <p><i class="fa fa-facebook-official"></i> Facebook</p>
                    <p><i class="fa fa-youtube-play"></i> Youtube</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                </div>
                <div class="col-md-3 footer-image">
                    <h1>Download App</h1>
                    <img src="images/app.png" alt="">
                </div>
            </div>
            <hr>
            <p class="copyright">Made by <i class="fa fa-heart-o"></i>Joshua Makula</p>
        </div>
    </section>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/js/validate.js"></script>

</body>

</html>