<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
            width: 40%;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div w3-include-html="/includes/nav.html"></div>
    <!--------------------Nav bar---------------------->

    <div class="container">
        <div class="row">
            <div class="card-body">
                <div class="col-md" style="text-align: center;">
                    <a href="/details">
                        <button class="btn btn-secondary">purchase Details</button>
                    </a>

                    <a href="/register">
                        <button class="btn btn-secondary">Register Sales Agent</button>
                    </a>

                    <a href="/addItem">
                        <button class="btn btn-secondary">Add Product</button>
                    </a>
                </div>
            </div>
            <!------Side Bar------>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="card-body">
                    <form action="/managerDash" method="POST" name="salesAgent" id="salesAgent">
                        <header class="card-header">
                            <h1 class="card-title" id="head">Register Sales Agent</h1>
                        </header>

                        <fieldset class="form-group border p-2">
                            <legend class="w-auto border-primary">Agent's Details</legend>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label" for="firstName">First Name</label>
                                    <input form-control type="text" name="firstName" id="firstName"><br>
                                    <small class="innerH" id="fname"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="lastName"> Last Name</label>
                                    <input form-control type="text" name="lastName" id="lastName"><br>
                                    <small class="innerH" id="lname"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="nationalID">national ID. No.</label>
                                    <input form-control type="text" name="nationalID" id="nationalID"><br>
                                    <small class="innerH" id="nID"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="employeeID">employee ID No.</label>
                                    <input form-control type="text" name="employeeID" id="employeeID"><br>
                                    <small class="innerH" id="eID"></small>
                                </div>
                                <!----------form-group---------->
                                <div class="form-group">
                                    <label class="form-control-label" for="empPassword">Password</label>
                                    <input form-control type="password" name="empPassword" id="empPassword"><br>
                                    <small class="innerH" id="pass"></small>
                                </div>
                                <!----------form-group---------->
                                <div class="form-group">
                                    <label class="form-control-label" for="empPasswordAgain">Password Again</label>
                                    <input form-control type="password" name="empPasswordAgain" id="empPasswordAgain"><br>
                                    <small class="innerH" id="passAgain"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <input class="btn btn-warning btn-block" type="Submit"
                                        onclick="registersalesAgent()">
                                </div>
                                <!----------form-group---------->

                            </div>

                        </fieldset>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>



    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>
</body>

</html>