<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
            width: 40%;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div w3-include-html="/includes/nav.html"></div>
    <!--------------------Nav bar---------------------->

    <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <header class="card-header">
                                <h1 class="card-title" id="head">Register Sales Agent</h1>
                            </header>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!------Side Bar------>
                    <div class="col-md-2">
                        <div w3-include-html="/includes/sidebar.html"></div>
                    </div>

            <div class="col-md-6">
                
                    <form action="/register/agents" method="POST" name="salesAgent" id="salesAgent"
                        onsubmit="return registersalesAgent()">
                        

                        <fieldset class="form-group border p-2">
                            <legend class="w-auto border-primary">Agent's Details</legend>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-control-label" for="firstName">Name</label>
                                    <input type="text" name="firstName" id="firstName"><br>
                                    <small class="innerH" id="fname"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="lastName"> User Name</label>
                                    <input type="text" name="username"
                                        id="username"><br>
                                    <small class="innerH" id="lname"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="nationalID">National ID. No.</label>
                                    <input type="text" name="nationalID" id="nationalID"><br>
                                    <small class="innerH" id="nID"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <label class="form-control-label" for="employeeID">Employee ID No.</label>
                                    <input type="text" name="employeeID" id="employeeID"><br>
                                    <small class="innerH" id="eID"></small>
                                </div>
                                
                                <!----------form-group---------->
                                <div class="form-group">
                                    <label class="form-control-label" for="empPassword">Password</label>
                                    <input type="password" name="password" id="password"><br>
                                    <small class="innerH" id="pass"></small>
                                </div>
                                <!----------form-group---------->
                                <div class="form-group">
                                    <label class="form-control-label" for="empPasswordAgain">Password Again</label>
                                    <input type="password" name="empPasswordAgain" id="empPasswordAgain"><br>
                                    <small class="innerH" id="passAgain"></small>
                                </div>
                                <!----------form-group---------->

                                <div class="form-group">
                                    <input class="btn btn-warning btn-block" type="submit">
                                </div>
                                <!----------form-group---------->

                            </div>

                        </fieldset>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>



    <script src="/js/validate.js"></script>
    <script src="/js/navnfooter.js"></script>
</body>

</html>