<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body row justify-content-center>
    <div class="top-nav-bar">
        <div class="search-box">
            <a href="/"><img src="images/logo.png" alt="" class="logo"></a>
            <input type="text" class="search-form-control">
            <span class="input-group-text"></span><i class="fa fa-search"></i></span>
        </div>

        <div class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa fa-shopping-basket"></i>Cart</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
    </div>
    <!--------------------Nav bar---------------------->
    

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <header class="card-header">
                        <h1 class="card-title" id="head">Store manager's dash board</h1>
                    </header>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md" style="text-align: center;">
                                <a href="/details">
                                    <button class="btn btn-secondary">purchase Details</button>
                                </a>

                                <a href="/register">
                                    <button class="btn btn-secondary">Register Sales Agent</button>
                                </a>

                                <a href="/addItem">
                                    <button class="btn btn-secondary">Add Product</button>
                                </a>
                            </div>
                        </div>
                        <!------Side Bar------>

                    </div>


                </div>
            </div>
        </div>

        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/bootstrap/js/popper.min.js"></script>
        <script src="/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

</body>

</html>