<!DOCTYPE html>
<html>

<head>
    <title>Covid Stores</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            margin: 0 auto;
        }

        body {
            background-color: #f1f3f4;
            font-family: sans-serif;
        }

        #head {
            text-align: center;
            color: orange;
        }

        label {
            font-weight: bold;
        }

        legend {
            font-weight: bold;
        }
    </style>
</head>

<body row justify-content-center>
    <!--------------------Nav bar---------------------->
    <div w3-include-html="/includes/nav.html"></div>


    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card-body">
                    <header class="card-header">
                        <h1 class="card-title" id="head">Store manager's dash board</h1>
                    </header>
                    <div class="row">
                        <div class="card-body">
                            <div class="col-md" style="text-align: center;">
                                <a href="/details">
                                    <button class="btn btn-secondary">purchase Details</button>
                                </a>

                                <a href="/register">
                                    <button class="btn btn-secondary">Register Sales Agent</button>
                                </a>

                                <a href="/addItem">
                                    <button class="btn btn-secondary">Add Product</button>
                                </a>
                            </div>
                        </div>
                        <!------Side Bar------>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!----------------- Footer ------------------>
    <div w3-include-html="/includes/footer.html"></div>

    <script src="/js/navnfooter.js"></script>

</body>

</html>