.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: orange;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}

.logo {
    height: 50px;
    margin: 5px 10px;
    
}

.search-form-control {
    margin-top: 9px;
    margin-left: auto;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    width: 100%;
}

.input-group-text {
    background: white !important;
    border: 1px solid orange !important;
    margin: 8.5px -140px 0 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 20%;
}

.fa-search {
    font-weight: bolder;
    color: gray;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;

}

.menu-bar ul {
    display: inline-flex;
    float: right;
    height: 54px;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 20px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-shopping-basket {
    margin-right: 5px;
}

@media only screen and (max-width:980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0px;
    }

    .search-box {
        width: 64%;
    }

    .search-form-control {
        margin-left: 30px;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}