link(rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css")
div(class="side-bar")
	form(action="/details")
		button(class="btn btn-secondary btn-block") purchase Details
div(class="side-bar")
	form(action="/register")
		button(class="btn btn-secondary btn-block") Register Sales Agent
div(class="side-bar")
	form(action="/addItem")
		button(class="btn btn-secondary btn-block") Add Product
div(class="side-bar")
	form(action="/addItem/productlists" type="submit")
		button(class="btn btn-secondary btn-block") Product List
div(class="side-bar")
	form(action="/register/agents" type="submit")
		button(class="btn btn-secondary btn-block") Agents List
div(class="side-bar")
	form(action="/details/customerlists" type="submit")
		button(class="btn btn-secondary btn-block") Customers List
